*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../assets/imges/bgimage.jpeg) ;
    background-size:cover;
    background-position: center;
    }
#list{
    float: right; 
}
nav{
    background-color: #f54404e6;
    height: 100px; 
    padding-top: 30px;
    padding-right:20px;
    
}
li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(182, 103, 12);
    border-radius: 30px;
    font-size: 20px;
    font-family:sans-serif ;
    font-weight:600;
    
}
a{
    color: aliceblue;
    text-decoration: none;
    
    
}
li:hover,#home{
    background-color: rgb(250, 116, 5);
}
h5{
    background-color: rgb(219, 52, 18);
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    font-family:cursive;
    text-transform: uppercase;
}
.main{
background-color: rgba(244, 189, 150, 0.3);
display: inline-block;
text-align: center;
padding: 0px 100px;
margin: 40px 80px;
border-radius: 10px;
padding: 10px;


}
.product img{
    width: 200px;
    height: 200px;
    
    

}
.product{
    
    overflow: hidden;
    margin: 5px;
    border-radius: 20px;
    display: inline-block;
    border: 3px solid #a53d2a;
    
}
.product:hover{
    box-shadow: 6px 8px 15px;
    cursor: pointer;
    border: 3px solid #e62908;
}
.product div{

    background-color: rgb(231, 112, 22);
    color:rgb(238, 239, 230);
}
.prmn{
    
    
    display: inline-block;
}
h6{
    text-align: center;
    height: 50px;
}
.banner{
    margin: 10px;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #f15820fa ;
    overflow: auto;
    text-align: center;
    
}

.banner .pa p{
    
    color: rgb(241, 185, 125);
}
span{
    font-size: 50px;
    font-family:cursive;
}
h4 {
    font-size: 70px;
    font-family:fantasy;

}
.main a{
    float: right;
    margin-right: 10px;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: #e62908;
    
}
.main a:hover{
    border-color: aliceblue; 
    color: #e62908;
}
.add{
    font-family: sans-serif;
    font-size: small;
    background-color: darkred;
    border: 2px solid red;
    padding: 0 40px;
    border-radius: 5px;
}
.add:hover{
    
    background-color: rgb(237, 7, 7);
    border: 2px solid rgb(48, 1, 1);
    margin: 1px;
}


@media  (max-width:600px) {
    .add{
        font-size: xx-small;
        padding: 0 15px;
        border-radius: 4px;
    }
    .banner{
        font-size: small;
    }
    .banner .pa p{
        font-size:xx-small;
    }
    span {
        font-size: 20px;
    }
    h4{
        font-size: 30px;
    }
    .main a{
        float: right;
        margin-right: 10px;
        border-width: 0 0 3px 0;
        border-style: solid;
        border-color: #e62908;
        font-size: xx-small;
        
    }


    .product img{
    width: 100px;
    height: 100px;
    }
    .product div{
        font-size: 17px;
        font-weight: 600;

    }
    h5{
        font-size: xx-small;
    }
    .main{
        margin: 10px;
        padding: 0 ;
    }
    h6{
    
    height: 25px;
}
nav ul li a{
        font-size: 12px;
    }
    nav ul li {
        padding: 5px;
    }
}

@media (max-width:1025px) and (min-width:601px) {
    .product img{
    width: 150px;
    height: 150px;
    }
    span{
        font-size: 35px;
    }
    h4{
        font-size: 45pxpx;
    }
    .product div{
        font-size: x-small;
        font-weight: 600;

    }
    .banner .pa p{
        font-size:x-small;
    }
    h6{
    
    height: 35px;
}
.main{
        margin: 20px;
        
    }
    nav ul li a{
        font-size: 15px;
    }
    nav ul li {
        padding: 5px;
    }
}
